<div class='search-panel{{if @fixed " fixed" null}}'>
  <div class='search-panel-wrapper container'>
    <h1>{{@title}}</h1>
    <form
      class='search-panel__input{{if @errorState " alert" null}}'
      {{on 'submit' @queryCnpj}}
    >
      {{#if @errorState}}
        <Svg::Alert />
      {{/if}}
      <input
        type='text'
        placeholder={{@placeholder}}
        value={{@cnpj}}
        {{on 'input' @handleCnpj}}
      />
      <button type='submit'><Svg::Search /></button>
    </form>
  </div>
</div>