<main
  {{did-insert (fn this.queryCnpj @cnpj)}}
  {{did-update (fn this.queryCnpj @cnpj) @cnpj}}
>
  <div class='container'>
    <div class='data-wrapper {{if this.global.isLoading "center" null}}'>
      {{#if this.global.isLoading}}
        <div class='loader'></div>
      {{else}}
        <CnpjData::Content @cnpjData={{this.cnpjData}} />
      {{/if}}
    </div>
  </div>
</main>