{{page-title 'Consulte dados de um CNPJ'}}

<HeaderWrapper::HeaderWrapper
  @cnpj={{this.cnpj}}
  @handleCnpj={{this.handleCnpj}}
  @queryCnpj={{this.queryCnpj}}
  @errorState={{this.errorState}}
  @isLoading={{this.isLoading}}
/>

<main class='{{if this.loadedCnpj "" "content"}}'>
  {{#if this.loadedCnpj}}
    <CnpjData::CnpjData
      @cnpjData={{this.cnpjData}}
      @isLoading={{this.isLoading}}
    />
  {{else}}
    <Content::Content />
  {{/if}}
</main>

<Footer::Footer />